@layer code {
  :where(code:not(pre code)) {
    background-color: var(--color-code);
    padding: 0.25em;
    border-radius: 0.25em;
  }

  :where(pre code) {
    padding: 0.25em;
    border-radius: 0.25em;
    white-space: break-spaces;
    font-size: calc(39 / 44 * 100%);
  }
}
