@layer theme {
  :where(:root) {
    --color-background: var(--sand-1);
    --color-text: var(--sand-9);
    --color-link: var(--blue-9);
    --color-visited: var(--purple-8);
    --color-code-background: var(--stone-2);
  }

  @media (prefers-color-scheme: dark) {
    :where(:root) {
      --color-background: var(--sand-11);
      --color-text: var(--sand-1);
      --color-link: var(--blue-5);
      --color-visited: var(--purple-5);
      --color-code-background: var(--stone-10);
    }
  }
}
