:where(:root) {
  --phi-inv: calc((sqrt(5) - 1) / 2);
}

.Cover {
  inline-size: auto;
  block-size: auto;
  max-inline-size: 100%;
  max-block-size: calc((var(--phi-inv) * 100svb));
  margin-inline: auto;
  object-fit: contain;
}

@media (orientation: landscape) {
  .Cover {
    max-block-size: 100svb;
  }
}

:where(html) {
  scroll-snap-type: block proximity;
}

.BodyStart.SnapOk {
  scroll-snap-align: start;
}
