.MdxContent {
  :where(:link, :visited) {
    text-decoration: none;

    &:where(:hover) {
      text-decoration: underline dashed 1px;
    }

    &:where(:active) {
      text-decoration-style: solid;
    }
  }

  :where(code:not(pre code)) {
    background-color: var(--color-code-background);
    padding: 0.25em;
    border-radius: 0.25em;
  }

  :where(pre code) {
    padding: 0.25em;
    border-radius: 0.25em;
  }
}
