.MdxContent {
  :where(:link, :visited) {
    text-decoration: none;
    border-bottom: 1px dashed;

    &:where(:hover) {
      border-bottom-style: solid;
    }
  }

  :where(code:not(pre code)) {
    background-color: var(--color-code-background);
    padding: 0.25em;
    border-radius: 0.25em;
  }

  :where(pre code) {
    padding: 0.25em;
    border-radius: 0.25em;
  }
}
